exportPattern("^[[:alpha:]]+")
import(lme4)
import(parallel)
import(doParallel)
import(performance)
importFrom("stats","aggregate","cor.test","reorder","rnorm","wilcox.test")
importFrom("grDevices","rgb")
importFrom("graphics","points","segments","title")
importFrom("stats","binom.test")
